.navbar {
    margin-bottom: 50px;
    border-radius: 0;
  }
  
   .jumbotron {
    margin-bottom: 0;
  }
 
  footer {
    background-color: #f2f2f2;
    padding: 10px;
  }

body{
  min-height: 100vh;
  position: relative;
}

.container{
  padding-bottom: 30px;
  
}

.fixed-bottom{
  position:absolute;
  bottom:0;
  width:100%;
  background-color: #f2f2f2;
  padding: 10px;
}